<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      {{ esProfesor ? 'Generar QR' : 'Leer QR' }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center"> 
  <br><br>
  <ion-item *ngIf="esProfesor" class="ion-text-center">
    <ion-title>Nombre: {{ asignatura?.nombre }}</ion-title>
  </ion-item>

  <br>

  <qrcode [qrdata]="texto" [width]="330" [allowEmptyString]="true" *ngIf="esProfesor"></qrcode>

  <ion-item *ngIf="esProfesor" class="ion-text-center">  
    <ion-card>
      <ion-card-header>
        <ion-card-title>ID: {{ asignatura?.id }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-item>

</ion-content>
