<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      {{ esProfesor ? 'Generar QR' : 'Leer QR' }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center"> 
  <br><br>
  <ion-item *ngIf="esProfesor" class="ion-text-center">
    <ion-title>Nombre: {{ asignatura?.nombre }}</ion-title>
  </ion-item>

  <br>

  <qrcode [qrdata]="texto" [width]="330" [allowEmptyString]="true" *ngIf="esProfesor"></qrcode>

  <ion-item *ngIf="esProfesor" class="ion-text-center">  
    <ion-card>
      <ion-card-header>
        <ion-card-title>ID: {{ asignatura?.id }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- <p>Nombre: {{ asignatura?.nombre }}</p> -->
        <p>Cantidad Asistencias: {{ conteoEscaneo }}</p>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-button expand="block" color="success" *ngIf="esAlumno" (click)="LeerCode()">Scannear Código</ion-button>

  <br>

  <ion-item *ngIf="esAlumno">
    <ion-card *ngIf="datoscaneado">
      <ion-card-header>
        <ion-card-title>Contenido escaneado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Asistencia: <b>{{ datoscaneado["text"] }}</b></p>
        <p>Fecha y hora de Asistencia: {{ fechaHoraEscaneo | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
      </ion-card-content>
    </ion-card>
  </ion-item>  

  <br>

  <ion-item *ngIf="esAlumno" class="ion-text-center">  
    <ion-card>
      <ion-card-header>
        <ion-card-title>ID: {{ asignatura?.id }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Nombre: {{ asignatura?.nombre }}</p>
      </ion-card-content>
    </ion-card>
  </ion-item>
  

</ion-content>
