<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Leer QR
      <ion-buttons slot="start">
        <ion-back-button defaultHref="profesor-inicio"></ion-back-button>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--SCANNEAR-->
  <ion-button expand="block" color="success" (click)="LeerCode()">Scannear Código</ion-button>

  <div *ngIf="datoscaneado">
      <p>
          Contenido obtenido: <b>{{ datoscaneado["text"] }}</b>
      </p>
  </div>
</ion-content>
