<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Inicio Profesor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-align-items-center ion-padding">

  <ion-title size="15" class="ion-text-center ion-padding-vertical">Hola, Profesor@ {{persona.nombre}} 😁 </ion-title>

<div class="card fuentetexto">

  <ion-list>
    <div class="bg-primary text-white asignaturasfondo shadow tamañotexto">
      <ion-label>Asignaturas</ion-label>
    </div>
    <ion-item fill="solid" *ngFor="let asignatura of asignaturas" class="ion-margin-botton"
                [routerLink]="['/generar-qr/' + asignatura.id]">
      <ion-label>{{asignatura.nombre}}</ion-label>
    </ion-item>
  </ion-list>

</div>

</ion-content>