<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      RegistAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-align-items-center ion-padding">

  <ion-img src="/assets/img/logo.png"></ion-img>

  <ion-title size="15" class="ion-text-center ion-padding-vertical">Iniciar Sesión </ion-title>

  <form [formGroup]="credencial" (ngSubmit)="login()" >

    <ion-item fill="solid" class="ion-margin-botton">
      <ion-label position="floating">Ingresar tu Usuario</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
      <ion-note slot="error" *ngIf="(nombre.dirty || nombre.touched) && nombre.errors">Usuario no es Correcto</ion-note>
    </ion-item>
    
    <ion-item fill="solid" class="ion-padding-vertical">
      <ion-label position="floating">Ingresar tu Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Contraseña no es Correcto</ion-note>
    </ion-item>
    
 
    <ion-button expand="full" shape="round" color="primary" type="submit" [disabled]="!credencial.valid">
      Iniciar Sesión
    </ion-button>
    
    <br>

    <ion-item [routerLink]="['/olvidar-contrasena']">
      <p size="12" class="ion-text-center">¿Olvidaste tu contraseña?</p>
    </ion-item>
  
  </form>

</ion-content>
